<%- include('layout', { title: 'Admin test' }) %>

<h1>Enter the secret passcode to join the club!</h1>
<p>Hint #1: the most popular Queen song</p>
<p>Hint #2: kebab-cased</p>
<form action="/join-the-club" method="POST">
    <label for="passcode">Passcode</label>
    <input name="passcode" type="passcode" />
    <button>Enter</button>
</form>
    <% if (wrong) { %>
        <p>Try again!</p>
    <% } %>
