<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>
  Home sweet home
  <a href="/logout">Logout</a>

  <% if (!user.member) { %>
    <a href="/join-the-club">Become a member</a>
  <% } %>
</body>
</html>