<%- include('layout', { title: 'Home' }) %>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>
    <nav>
      <div class="">
          <div class="flex justify-between h-16 px-10 shadow items-center">
            <div class="flex items-center space-x-8">
              <a href="/home" class="text-gray-800 text-lg font-extrabold">Friend club</a>
          </div>
          <div class="flex space-x-4 items-center">
              <% if (user) { %>
                <a href="/profile" class="text-gray-800 text-sm">PROFILE</a>
                <a href="/logout" class="bg-indigo-600 px-4 py-2 rounded text-white hover:bg-indigo-500 text-sm">LOGOUT</a>
              <% } else { %>
                <a href="/login" class="text-gray-800 text-sm">LOGIN</a>
                <a href="/sign-up" class="bg-indigo-600 px-4 py-2 rounded text-white hover:bg-indigo-500 text-sm">SIGNUP</a>
              <% } %>
            </div>
      </div>
  </div>
  </nav>

  <main>  
    <div class="flex items-center justify-center">
      <% if (messages) { %>
        <div class="messages">
          <ul>
            <% messages.forEach(message => { %>
              <li>
                <p><strong>Message:</strong> <%= message.main_text %></p>
                <p><strong>Sender ID:</strong> <%= message.id_sender %></p>
                <p><strong>Send Date:</strong> <%= message.send_date %></p>
              </li>
            <% }) %>
          </ul>
        </div>
        <% } %>

      <div class="message-btn">
        <% if (user) { %>
          <a href="/new-message">
            <div class="!mt-8">
              <button class="w-full shadow-xl py-3 px-4 text-sm tracking-wide rounded-lg text-white bg-blue-600 hover:bg-blue-700 focus:outline-none">
                Create a new message
              </button>
          </div>
          </a>
        <% } %>
      </div>
    </div>
  </main>

</body>
</html>