<%- include('layout', { title: 'Home' }) %>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>
  <a href="/logout">Logout</a>

  <% if (user) { %>
  <a href="/new-message">Create a new message</a>
  <% } %>
  
  <% if (!user.member) { %>
    <a href="/join-the-club">Become a member</a>
  <% } %>
</body>
</html>