<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link href="/stylesheets/output.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <p class="text-red-500">Welcome to</p>
    </div>
</body>
</html>