<%- include('layout', { title: 'Login' }) %>

<h1>Please log in</h1>
<form action="/login" method="POST">
    <label for="username">Username</label>
    <input name="username" placeholder="Username" type="text" />
    <label for="password">Password</label>
    <input name="password" type="password" />
    <button>Log In</button>

    <p class="text-red-500">Welcome to</p>
    <p>Don't have an account? <a href="/sign-up">Sign up</a> here!</p>
</form>