<%- include('layout', { title: 'Profile' }) %>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>
  <nav>
    <div class="">
        <div class="flex justify-between h-16 px-10 shadow items-center">
          <div class="flex items-center space-x-8">
            <a href="/home" class="text-gray-800 text-lg font-extrabold">Friend club</a>
        </div>
        <div class="flex space-x-4 items-center">
          <a href="/profile" class="text-gray-800 text-sm">PROFILE</a>
          <a href="/logout" class="bg-indigo-600 px-4 py-2 rounded text-white hover:bg-indigo-500 text-sm">LOGOUT</a>
          </div>
    </div>
</div>
</nav>

  Hello, <%= user.username %>!

  Info:

  First name: <%= user.firstname %>
  Last name: <%= user.lastname %>

  <% if (!user.member) { %>
    <a href="/join-the-club">Become a member</a>
  <% } %>
</body>
</html>